/.idea/
/telegram-bot/target/
/telegram-bot/src/main/resources/application.properties
/logs/
/common-jpa/target/
/common-utils/target/
/FlowerShopTelegramBot.iml
/mail-service/src/main/resources/application.properties
/mail-service/target/
/admin-panel/target/
/admin-panel/admin-panel.iml
/FlowerShopTelegramBot.ipr
/FlowerShopTelegramBot.iws
/telegram-bot/telegram-bot.iml
/mail-service/mail-service.iml
/common-jpa/common-jpa.iml
/common-utils/common-utils.iml
/telegram-bot/src/main/resources/META-INF/
/admin-panel/src/main/resources/application.properties
