/.idea/
/telegram-bot/target/
/telegram-bot/src/main/resources/application.properties
/logs/
/common-jpa/target/
/FlowerShopTelegramBot.iml
/mail-service/src/main/resources/application.properties
/mail-service/target/
