<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Searching</title>
</head>
<body>
<form th:method="get" th:action="@{/orders/search}">
    <label for="search">Введите номер заказа</label>
    <input type="text" name="query" id="search"/>
    <input type="submit" value="Поиск!"/>
</form>

<br/>

<div th:each="order : ${orders}">
    <a th:href="@{/orders/{id}(id=${order.getId()})}"
       th:text="${order.getId()}">product</a>
</div>

<br/>

<form action="/orders">
    <input type="submit" value="К заказам">
</form>

</body>
</html>