<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${product.getName()}"></p>
<p th:text="${product.getDescription()}"></p>
<p th:text="${product.getPrice() / 100 + ' руб.'}"></p>

<form th:method="get" th:action="@{/products/{id}/edit (id=${product.getId()})}">
    <input type="submit" value="Редактировать!">
</form>

<br/>

<form th:method="DELETE" th:action="@{/products/{id} (id=${product.getId()})}">
    <input type="submit" value="Удалить!">
</form>

<br/>

<form action="/products">
    <input type="submit" value="К товарам">
</form>
</body>
</html>